.about-page{
  background:white;
}


/* HERO */

.about-hero{

  position:relative;
  height:70vh;
  overflow:hidden;

}

.about-hero-bg{

  width:100%;
  height:100%;
  object-fit:cover;

}

.about-hero-overlay{

  position:absolute;
  width:100%;
  height:100%;

  background:
    rgba(0,0,0,0.45);

}

.about-hero-center{

  position:absolute;

  top:50%;
  left:50%;

  transform:translate(-50%,-50%);

  color:white;

  text-align:center;

}

.about-hero-center h1{

  font-size:64px;

  letter-spacing:10px;

  font-family:"Playfair Display", serif;

}

.about-hero-center p{

  font-size:18px;

  margin-top:20px;

  letter-spacing:4px;

}



/* VALUES */

.about-values{

  display:flex;

  justify-content:center;

  gap:60px;

  padding:80px 10%;

  text-align:center;

}

.value h3{

  font-family:"Playfair Display";

  font-size:24px;

}

.value p{

  margin-top:10px;

  color:#666;

}