.shop{

  display:flex;

  gap:60px;

  padding:

    120px 6%
    80px 6%;

  background:white;

}



/* SIDEBAR */

.shop-sidebar{

  width:220px;

  flex-shrink:0;

}


.filter-title{

  font-family:"Playfair Display";

  font-size:20px;

  letter-spacing:3px;

  margin:

    40px 0
    20px;

}


.filter{

  cursor:pointer;

  padding:

    10px 0;

  font-size:15px;

  letter-spacing:2px;

  color:#444;

  transition:0.3s;

}


.filter:hover{

  color:black;

}


.filter.active{

  font-weight:700;

  color:black;

}



/* PRICE */

.price-input{

  width:100%;

  padding:10px;

  margin-bottom:10px;

  border:

    1px solid #ddd;

}


.clear-btn{

  margin-top:10px;

  padding:10px;

  width:100%;

  border:none;

  background:black;

  color:white;

  cursor:pointer;

}



/* PRODUCTS */

.shop-products{

  flex:1;

}


.shop-header{

  display:flex;

  justify-content:space-between;

  align-items:center;

  margin-bottom:40px;

}


.shop-header h1{

  font-family:"Playfair Display";

  font-size:42px;

  letter-spacing:6px;

}


.product-count{

  letter-spacing:3px;

  color:#666;

}



/* GRID */

.product-grid{

  display:grid;

  grid-template-columns:

    repeat(
      auto-fill,
      minmax(260px,1fr)
    );

  gap:40px;

}



/* STATES */

.loading,
.empty{

  padding:80px;

  text-align:center;

  color:#666;

}