.about {

  display: grid;

  grid-template-columns: 1fr 1fr;

  min-height: 600px;

}


/* IMAGE */

.about-image img {

  width: 100%;

  height: 100%;

  object-fit: cover;

}


/* CONTENT */

.about-content {

  display: flex;

  flex-direction: column;

  justify-content: center;

  padding: 80px;

  background: white;

}


/* SMALL LABEL */

.about-label {

  font-size: 13px;

  letter-spacing: 4px;

  margin-bottom: 20px;

  opacity: 0.6;

}


/* HEADING */

.about-content h2 {

  font-family: "Playfair Display", serif;

  font-size: 52px;

  font-weight: 600;

  margin-bottom: 30px;

}


/* TEXT */

.about-content p {

  font-size: 17px;

  line-height: 1.8;

  margin-bottom: 20px;

  color: #444;

}


/* MOBILE */

@media(max-width:900px){

  .about{

    grid-template-columns: 1fr;

  }

  .about-content{

    padding:40px;

  }

}