.navbar {

  position: fixed;

  top: 0;

  left: 0;

  width: 100%;

  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 22px 60px;

  z-index: 1000;

  background: transparent;

  color: white;

  transition: all 0.35s ease;

}


/* SCROLL STATE */

.navbar.scrolled {

  background: white;

  color: black;

  box-shadow: 0 2px 20px rgba(0,0,0,0.05);

}


/* LOGO */

.nav-logo {

  font-family: "Playfair Display", serif;

  font-size: 34px;

  font-weight: 900;

  letter-spacing: 7px;

  cursor: pointer;

}


/* LINKS */

.nav-left,
.nav-right {

  display: flex;

  gap: 32px;

}


.nav-link {

  background: none;

  border: none;

  font-family: "Inter", sans-serif;

  font-size: 15px;        /* increased */

  font-weight: 600;       /* bold */

  letter-spacing: 2.5px;

  cursor: pointer;

  color: inherit;

  opacity: 0.95;

}


.nav-link:hover {

  opacity: 0.6;

}

