.seller-story{

  display:grid;

  grid-template-columns:1fr 1fr;

  align-items:center;

  padding:120px 8%;

}

.seller-story img{

  width:100%;

  height:500px;

  object-fit:cover;

}

.seller-content{

  padding-right:60px;

}

.seller-label{

  letter-spacing:4px;

  font-size:12px;

  opacity:.6;

  margin-bottom:10px;

}

.seller-content h2{

  font-family:"Playfair Display", serif;

  font-size:48px;

  margin-bottom:20px;

}

.seller-content p{

  font-size:17px;

  line-height:1.8;

}